body{
  padding: 0;
  margin: 0;
  background: #ECF0F1;
}
.LoginFormContainer{
 position: absolute;
  width: 500px;
  height: 400px;
  background: #E74C3C;
  left: 400px;
  top: 150px;
  border-radius: 10px;
}

.LoginFormContainer .FormTitle h1{
  position: absolute;
  left: 50px;
  color: #ECF0F1;
}

.LoginFormContainer .FormContent{
  position: absolute;
  width: 400px;
  height: 200px;
  top: 100px;
  padding-left: 120px;

}
label{
  display: block;
	width: 150px;
  margin-bottom: 10px;
  color: #ECF0F1;
}

input{
  width: 250px;
  height: 30px;
  border-radius: 2px;
  padding-left: 10px;

}
