*{
  
  margin: 0px 0px;
}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #f3f3f3;
}


a{
  text-decoration: none;
  color:#0277bd;
}

a:visited{
	color: #0277bd;
}
textarea{
  resize: none;
  width: 500px;
  height: 300px;
}
.Header {
  position: relative;
  top: 0px;
  width: 100%;
	background-color: #333;
  list-style-type: none;
  height: 180px;
  margin-bottom: 30px;

}

.Header a{

	display: inline-block;
	color: white;
	margin: 0px 16px;
  padding:15px 15px;
	text-decoration: none;
}

.Header  ul li{

	display: inline-block;

}


.Header ul li a:hover:not(.active) {
  background-color: #4CAF50;
}
.title {
  font-size: 70px;
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
}
.links{
  margin-top: 20px;
  text-align: center;
}


.SignUp{

  margin-left: 300px;
  width: 500px;
  height: 600px;
  top: 30px;
}

.AddArticle label{
  display: block;
  width: 150px;
  margin-bottom: 10px;
}


.SignUp .Errors{
  color: red;
  width: auto;
  height: auto;
}

.SignUp label{
  display: block;
  width: 150px;
  margin-bottom: 10px;
}

input,select{
  width: 250px;
  height: 30px;
  border-radius: 2px;
  padding-left: 10px;

}


table {
  border-collapse: collapse;
  width: 100%
}

table, th, td {
  border: 1px solid black;
  height: 60px;
}


.Article{
  position: relative;
  width: 600px;
  height: auto;
  overflow: hidden;

}
.Ramdom{
  position:relative;
  top: 60px;
  right: 50px;
  width: auto;
  height: auto;
  color: red;
}
.Ramdom a:hover:not(.active){
  color: red;
}

.MainContent{
 
  color:#2C3E50;
  width:1000px;
  height:100%;
  min-height: 500px;
  margin: auto;

}


.CommentArea{
  position: relative;
}
.commentForm textarea {
  resize: none;
  width: 500px;
  height: 200px;
}
.uniart{

	padding: 10px 10px 30px 10px;
	border-radius: 3px;
	margin-bottom: 20px;
	border: 2px solid #e7e7e7;
	background-color: #f3f3f3;
}

footer{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px sans-serif;
  padding: 30px 30px;
  margin-top: 80px;
}
footer p {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}